/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* reset default value */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* basic styles */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    padding: 16px 26px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all .5s ease;
}
.container{
    width: 1140px;
    margin: 0 auto;
}


/* header style start */
header#header{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
}
.header-detailes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    max-width: 630px;
    margin: 0 0 0 auto;
}
.header-detailes h1 {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

.header-detailes p {
    font-size: 16px;
    color: #444343;
    font-weight: 400;
    line-height: 26px;
    margin: 1rem 0;
}

.header-detailes button {
    background-color: #F15B22;
    color: #fff;
}
.header-detailes button:hover{
    border: 1px solid #ddd;
}

/* header style end */


/* main style start */

/* my failures previous year style start */
.my-failures {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-failures-img {
    width: 900px;
    height: auto;
    margin-right: 80px;
}

.my-failures-img img {
    width: 100%;
}

.my-failures-content h1 {
    font-size: 40px;
    color: #151414;
    font-weight: 700;
}

.my-failures-content p {
    margin: 20px 0;
    color: #444343;
    line-height: 26px;
}
ul.my-failures-list li {
    list-style-type: disclosure-closed;
    margin: 8px 0;
    color: #444343;
    list-style-position: inside;
}
/* my failures previous year style end */


/* my plans style start */


.my-plans h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 3rem;
}

.plans {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.plan h3 {
    margin: 10px 0;
    color: #151414;
    font-size: 30px;
}

.plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.plan p {
    color: #737272;
    font-size: 20px;
    font-weight: 400;
}

/* my plans style end */

/* mineset style start */
.mindset{
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%),
    url('images/watch.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 70px;
}
.mindset h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.mindset button {
    background: #fff;
    color: #F15B22;
}
/* mineset style end */
/* main style end */


/* footer style start */

footer {
    background-color: #151414;
    color: #fff;
    padding: 100px 0;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.future {
    max-width: 700px;
}

.footer > div > h1 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.future > p {
    font-weight: 400;
    margin: 10px 0;
    line-height: 26px;
    font-size: 15px;
}

ul.social-menu {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
}

ul.social-menu > li {
    margin: 0 10px;
}

ul.social-menu > li:first-child {
    margin-left: 0;
}
button.btn.subscribe-btn {
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
}

.subscribe form {
    display: flex;
    flex-direction: column;
}

.subscribe form > input {
    background-color: transparent;
    color: #F3F3F3;
    border: 1px solid #F3F3F3;
    outline: none;
    padding: 10px 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
/* footer style end */